In [10]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sklearn.linear_model

In [13]:
oecd_bli = pd.read_csv('oecd_bli_2015.csv')

In [17]:
gdp_per_capita = pd.read_csv(r'gdp_per_capita.csv', thousands= ',', delimiter= '\t', encoding='latin1', na_values='n/a')

In [8]:
oecd_bli.head()

,LOCATION,Country,INDICATOR,Indicator,MEASURE,Measure,INEQUALITY,Inequality,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,HO_BASE,Dwellings without basic facilities,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,1.1,E,Estimated value
1,AUT,Austria,HO_BASE,Dwellings without basic facilities,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,1.0,NaN,NaN
2,BEL,Belgium,HO_BASE,Dwellings without basic facilities,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,2.0,NaN,NaN
3,CAN,Canada,HO_BASE,Dwellings without basic facilities,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,0.2,NaN,NaN
4,CZE,Czech Republic,HO_BASE,Dwellings without basic facilities,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,0.9,NaN,NaN

In [6]:
oecd_bli.describe()

       PowerCode Code  Reference Period Code  Reference Period          Value
count          3292.0                    0.0               0.0    3292.000000
mean              0.0                    NaN               NaN    4774.392587
std               0.0                    NaN               NaN   13941.537833
min               0.0                    NaN               NaN       0.000000
25%               0.0                    NaN               NaN       6.600000
50%               0.0                    NaN               NaN      49.000000
75%               0.0                    NaN               NaN      90.000000
max               0.0                    NaN               NaN  145769.000000

In [7]:
oecd_bli.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3292 entries, 0 to 3291
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   LOCATION               3292 non-null   object
 1   Country                3292 non-null   object
 2   INDICATOR              3292 non-null   object
 3   Indicator              3292 non-null   object
 4   MEASURE                3292 non-null   object
 5   Measure                3292 non-null   object
 6   INEQUALITY             3292 non-null   object
 7   Inequality             3292 non-null   object
 8   Unit Code              3292 non-null   object
 9   Unit                   3292 non-null   object
 10  PowerCode Code         3292 non-null   int64
 11  PowerCode              3292 non-null   object
 12  Reference Period Code  0 non-null      float64
 13  Reference Period       0 non-null      float64
 14  Value                  3292 non-null   float64
 15  Flag Codes             1120 non-null   object
 16  Flags                  1120 non-null   object
dtypes: float64(3), int64(1), object(13)
memory usage: 437.3+ KB

In [18]:
gdp_per_capita.head()

  Country,Subject Descriptor,Units,Scale,Country/Series-specific Notes,2015,Estimates Start After
0  Afghanistan,Gross domestic product per capita ...
1  Albania,Gross domestic product per capita curr...
2  Algeria,Gross domestic product per capita curr...
3  Angola,Gross domestic product per capita curre...
4  Antigua and Barbuda,Gross domestic product per...

In [19]:
gdp_per_capita.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190 entries, 0 to 189
Data columns (total 1 columns):
 #   Column                                                                                           Non-Null Count  Dtype
---  ------                                                                                           --------------  -----
 0   Country,Subject Descriptor,Units,Scale,Country/Series-specific Notes,2015,Estimates Start After  190 non-null    object
dtypes: object(1)
memory usage: 1.6+ KB