# Dealing with missing data

## A.  Identifying missing values in tabular data

In [1]:
import pandas as pd
from io import StringIO
import sys

csv_data = \
'''A,B,C,D
1.0,2.0,3.0,4.0
5.0,6.0,,8.0
10.0,11.0,12.0,'''

# If you are using Python 2.7, you need
# to convert the string to unicode:

if (sys.version_info < (3, 0)):
    csv_data = unicode(csv_data)

### Step 1: Read the csv file as a pandas dataframe

### Step 2: Check the number of missing values for the columns

### Step 3: access the underlying NumPy array via the `values` attribute

### Step 4: Remove rows from df that contain missing values

### Step 5: Remove columns from df that contain missing values

### Step 6: Only drop rows where all columns are NaN

### Step 7: Drop rows that have less than 3 real values

### Step 8: Only drop rows where NaN appear in specific columns (here: 'C')

## B. Imputing missing values

In [ ]:
# again: our original array
df.values

array([[ 1.,  2.,  3.,  4.],
       [ 5.,  6., nan,  8.],
       [10., 11., 12., nan]])

### Step 1: impute missing values via the column mean
`from sklearn.impute import SimpleImputer`

`import numpy as np`

<br>
<br>